.StoreResult
{
	border-bottom: 2px solid #555;
	cursor: pointer;
	padding: 15px 15px;
}
.StoreResult:hover
{
	background: #333;
}
.StoreResult:last-child
{
	border: none;
}

	.storeResult-name
	{
		font-weight: bold;
		margin-bottom: 6px;
	}

	.storeResult-address,
	.storeResult-city
	{
		color: #999;
		font-size: 14px;
	}
